/01_distribucion_variable_objetivo.png
/02_creditos_distribucion_objetivo_credito.png
/02_creditos_distribucion_situacion_vivienda.png
/03_tarjetas_distribucion_estado_civil.png
/03_tarjetas_distribucion_estado_cliente.png
/03_tarjetas_distribucion_genero.png
/03_tarjetas_distribucion_nivel_educativo.png
/03_tarjetas_distribucion_nivel_tarjeta.png
/04_correlaciones_creditos.png
/05_correlaciones_tarjetas.png
/reporte_verificacion_creditos.html
/reporte_verificacion_tarjetas.html
/reporte_calidad_datos_basico.html
/reporte_calidad_datos_ge.html
